<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="CSS/RegistrationSD.css">
	</head>
	<body>
		<title>Space Defenders Home Page!</title>
		<div class="container">
			<h1 id="title">It's SPACE DEFENDERS!</h1>

			<%
			var loginActive = '';
			var signupActive = '';

			var loginDisplay = '';
			var signupDisplay = '';

			if (loginTab) {
				loginActive = 'active';
				loginDisplay = 'style="display: block"';
				signupActive = '';
				signupDisplay = 'style="display: none"';
			} else {
				signupActive = 'active';
				signupDisplay = 'style="display: block"';
				loginActive = '';
				loginDisplay = 'style="display: none"';
			}
			%>

			<div class="card mx-auto" id="loginCard">
				<div class="card-header">
				  <ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
					  <a class="nav-link <%-loginActive%>" href="#" id="loginTab" name="loginTab" onclick="registrationTabSwitch('loginTab')">Login</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link <%-signupActive%>" href="#" id="signUpTab" name="signUpTab" onclick="registrationTabSwitch('signUpTab')">Sign up</a>
					</li>
				  </ul>
				</div>
				<div class="card-body">
					<form action="/" method="post">
						<div class="form-group login" <%-loginDisplay%>>
							<label for="inputUsername" id="usernameLabel"><b>Username</b></label>
							<input class="form-control" id="inputUsername" name="username">
						</div>
						<div class="form-group login" <%-loginDisplay%>>
							<label for="inputPassword" id="passwordLabel"><b>Password</b></label>
							<input type="password" class="form-control" id="inputPassword" name="password">
						</div>
						<button type="submit" class="btn" id="submitLogin" <%-loginDisplay%> disabled>Login</button>
					</form>
					<form action="/" method="post">
						<div class="form-group createAccount" <%-signupDisplay%>>
							<label for="inputUsername" id="usernameLabel"><b>Create Username</b></label>
							<input class="form-control" id="inputNewUsername" name="createUsername">
						</div>
						<div class="form-group createAccount" <%-signupDisplay%>>
							<label for="inputPassword" id="passwordLabel"><b>Create Password</b> (must be at least 8 characters)</label>
							<input type="password" class="form-control" id="inputNewPassword" name="createPassword">
						</div>
						<div class="form-group createAccount" <%-signupDisplay%>>
							<label for="confirmPassword" id="confirmPasswordLabel"><b>Confirm Password</b></label>
							<input type="password" class="form-control" id="confirmPassword">
						</div>
						<button type="submit" class="btn" id="submitCreateAccount" <%-signupDisplay%> disabled>Create Account</button>
					</form>

					<%if (success) {%>
						<%- "<p style='color: green'>" + message%>
					<%} else {%>
						<%- "<p style='color: red'>" + message%>
					<%}%>
				</div>
			</div>
		</div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<script src="JavaScript/RegistrationSD.js" onload="loginHandler()"></script>
	</body>
</html>
